GHOST_VERSION=5.7.0
MYSQL_VERSION=8.0
TRAEFIK_VERSION=v2.8.1

HOST=test.example.com
ACME_EMAIL=letsencrypt@example.com

MAIL_PORT=465
MAIL_HOST=smtp.example.com
MAIL_FROM="'MyBlog Support' support@example.com"
MAIL_USER=test@example.com
MAIL_PASS=
